._navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2%;
    background: teal;
    width: 100% !important;
    margin: 0 auto;
}

.navbar-links-logo {
    margin-right:  2rem;
    float: left;
}

.navbar-links {
    /* flex: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.navbar-links-logo img{
    max-width: 50px;
    height: auto;
}

.navbar-links-container {
    display: inline-block;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-sign {
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.navbar-links-container a, .navbar-menu-container-links a {
    text-decoration: none;
    font-weight: 600;
    color: #fff ;
}

.navbar-links-container a:hover {
    color: #f5f5f5f5;
} 

.navbar-menu-container-links a:hover {
    color: #f5f5f5f5;
}

/* .navbar-links-container a:hover {
    color: #1bafd4;
} 

.navbar-menu-container-links a:hover {
    color: #007e9e;
} */

.navbar-links-container a,
.navbar-sign button {
    color: #ffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 0.5rem;
    cursor: pointer;
    
}

.navbar-menu-container a {
    color: #ffff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    text-transform: capitalize;
    margin: 0 0.5rem;
    cursor: pointer;
    
}

.navbar-sign .bttn,
.navbar-menu-container button {
    padding: 0.5rem 1.5rem;
    color: #ffff;
    background: #ffa200;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu-container-links a {
    color: #007c9b;
}

.navbar-menu-container-links a:hover {
    color: #0098be;
}

.navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: rgb(1, 136, 136);
    /* color: #ffff; */
    text-align: end;
    background-color: #fff;
    /* background-color: rgb(1, 136, 136); */
    padding: 2rem;
    position: absolute;
    top: 36px;
    right: 0;
    margin-top: 1rem;
    min-width: 180px;
    border-radius: 5px;
    /* box-shadow: 2 2 5 rgba(0,0,0,0.9); */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    z-index: 99999;
}

.navbar-menu-container p {
    margin: 1rem 0;
}

.navbar-menu-container-links-sign {
    display: none;
}

.accounts-access {
    display: flex;
    align-items: center !important;
    justify-content: center;
    max-height: 1rem;
    margin-right: 30px;
}

.logdin-user {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ff2a00; */
    /* margin-left: 40px !important;
    margin-right: -10px !important; */
    max-width: 200px;
}

.cartlogo {
    display: inline-block;
    width: 80%;
}

.cart-box {
    display: flex;
    width: 35px;
    height: 35px;
    object-fit: contain;
    /* background-color: black; */
}

.cart-btn {
    float: left;
}

.cart-number {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: #ffa200;
    border-radius: 100%;
    padding: 8px 13px 8px 13px;
}

.profile-icon {
    display: block;
    width: 100%;
}

.avatar-box {
    width: 40px;
    height: 40px;
    object-fit: contain;
    /* background-color: black; */
    margin-left: 45px;
}

.pro-image {
    float: right; 
}


@media screen and (max-width: 1050px) {
    .navbar-links-container {
        display: none;
    }
    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px){
    ._navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px){
    ._navbar {
        padding: 2rem;
    }
    .navbar-sign {
        display: none !important;
    }
    .navbar-menu-container {
        top: 30px;
    }
    .navbar-menu-container-links-sign {
        display: block;
    }
}
    
